p{
    font-family: montserrat;
    margin-top:0px;
    margin-bottom:0px;
}
.model{
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    font-size: 34px;
}

.order{
    text-align: center;
    font-size: 20px;
}

.line{
    text-decoration: underline;
    cursor: pointer;
}