.thumbnail-img{
    width: 100%;  
   
}

.channel-info-grid{
    display: grid;
    grid-template-columns:50px 1fr;
}

.channel-img{
    width:36px;
    border-radius: 40px;
    
}

.title{
    font-weight: 500;
    font-size:14px;
    margin-bottom: 10px;
    line-height: 20px;
}
.creator,.stats{
    color:rgb(96,96,96);
    font-size:12px;
}

.creator{
    margin-bottom:4px;
}

.grid-div{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap:40px;
    /* padding:20px; */
}

@media(max-width:750px){
    .grid-div{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:751px) and (max-width:999px){
    .grid-div{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1000px){
    .grid-div{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.thumbnail-div{
    position: relative;
    margin-bottom:10px;  
}
.time{
    position: absolute;
    background-color: black;
    color: white;
    right:5px;
    bottom:10px;

    font-style: solid;
    font-size: 12px;
    font-weight: 500;
    padding:4px;
    border-radius: 2px;
}
